body {
  font-family: Futura, sans-serif;
  text-align: center;
  /* max-width: 800px; */
}
.container {
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  display: inline-block;
 /*  width: 10%; */
  background-color: red;
}

a:hover {
  color: red;
}
@media all and(min-width:300px) {

  body{
min-width: 300px;
  }
  a{
    display: inline-block;
    margin: 30px auto;
    width: 50%;
  }
  /* .a {
   
    width: 50%;
    margin: 30px auto;
    display: inline-block;
  } */
}
