body {
  text-align: center;
}

p {
  padding: 10px;
}

#one {
  margin: 0px auto;
  border-width: 10px;
  border-color: bisque;
  border-style: inset;
}
#two {
  margin: 0px auto;
  border-width: 10px;
  border-color: bisque;
  border-style: inset;
}
img {
  width: 150px;
  border: 10px solid black;
  border-width: 10px;
  border-color: bisque;
  border-style: inset;
  margin: -46px 30px 0px 30px;
}
